body{
    font-family: verdana;
    background-color:#DAF7A6;
}

.menu{
    list-style: none;
    padding: 0;
    background: #935116;
    width: 90%;
    max-width: 100%;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #F5CBA7;

}

h1 {
    color:#9C640C;
    font-family:cursive;
    font-size:300%;
    text-align: center;
}

p{
    font-family:cursive;
    font-size:160%;
}

footer {
    text-align: center;
    display: block;
    margin: 15px auto;
}